.error-snackbar .mat-mdc-snackbar-surface {
  background-color: var(--mat-sys-error) !important;
  color: var(--mat-sys-on-error) !important;
}

.error-snackbar .mat-mdc-button.mat-mdc-snack-bar-action {
  color: var(--mat-sys-on-error) !important;
}
