.responsive-container {
  padding: 10px 24px;
  @media screen and (min-width: 768px) {
    padding: 20px 60px;
  }
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  &.space-between {
    justify-content: space-between;
  }
}

.col {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: stretch;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
